/* only use quotes around attributes that include spaces */

/* this makes all elements include padding so they have consistent sizing */
* {
  box-sizing: border-box;
}

/***** Theme-related colors and such *****/
.emph-color {
	color: orange;
}

/***** Large Sections ******/

/* for the title area */
.top {
	width: 100%;
	float: left;
	padding: 10%;
}

/* main section for articles */
main {
}

/* a column in the project gallery, 25% of page */
.main-col-25 {
	width: 25%;
	float: left;
	padding: 10px;
}

/***** Smaller Elements ******/

/* padding: top sides bottom */

.w3-row-padding {
	/* no row padding by default (mobile) */
}

@media (min-width: 601px){
	.w3-row-padding {
		/* padding: top sides bottom */
		padding: 0px 0px 8px;
	}
}

/* container for article cards */
.w3-third {
	min-height: 400px;
	padding: 8px;
}

.w3-card-4 {
	height: 400px;
	border-radius: 10px;
}

.w3-card-4:hover {
	box-shadow: 0px 0px 10px 2px grey;
}

.splash-container {
	height: 200px;
	border-radius: 10px 10px 0px 0px;
}

.card-text {
	padding: 8px;
}

.article-card-container {
	width: 33.33%;
	min-height: 400px;
	float: left;
	padding: 10px;
}

.article-card-link {
}

