{% extends "base.html" %}

{% block content %}

{% if articles %}
	{% for article in (articles_page.object_list if articles_page else articles) %}
		<!-- start a new row every 3rd article -->
		{% if loop.index0 % 3 == 0 %}
			<!-- start a new row in the article gallery -->
			<div class="row">
		{% endif %}
			
			<!-- 
				article gallery card content, a container is needed
				for margins and spacing reasons
			-->	
			<div class="article-card-container">
			<div class="article-card">
				<a class="article-card-link" href="{{ SITEURL }}/{{ article.url }}">
					<!-- image part -->
					{% if article.splash %}
					<div class="splash-container" style="background-image:url({{ SITEURL}}/{{ article.splash }});background-position:center;background-size:cover;background-repeat:no-repeat;width:100%" alt="test">
					</div>
					{% endif %}

					<!-- text part -->
					<div>
						<p class="emph-color"><b>{{ article.title }}</b></p>
						<p>{{ article.summary }}</p>
						<div class="emph-color">more ...</div>
					</div>
				</a>
			</div> <!-- end of article card -->
			</div> <!-- end of article card container -->
		
		<!-- if we're on the third article card in a row, close the row div -->	
		{% if loop.index0 % 3 == 2 or loop.index == loop.length %}
			</div> <!-- close row div -->
		{% endif %}
		
	<!-- end iteration through articles -->
	{% endfor %}
{% endif %}

{% endblock content %}
